<center>
  <br /><br /><br />
  <img src='/logo_large.png'/><br />
  <pre>
    1. pip install cloudtee
    2. dpkg -l | cloudtee packages
    3. visit <a href='/packages'>http://cloudtee.me/packages</a>
  </pre>
</center>